.default_form_section {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "label input";
  grid-column-gap: 20px;
  justify-content: flex-end;
  justify-items: flex-end;
  align-content: center;
  align-items: center;
  width: 100%;
  label {
    grid-area: label;
    font-size: 16px;
    font-weight: 500;
  }
  input {
    grid-area: input;
    width: 100%;
  }
}
.textarea_form_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "label"
    "input";
  grid-column-gap: 20px;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: center;
  align-items: center;
  grid-row-gap: 12px;
  width: 100%;

  textarea {
    grid-area: input;
    width: 100%;
  }
}

.default_form_input {
  width: 120px;
  height: 32px;

  border-radius: 8px;
  border: 2px solid #D5D5D5;
  padding: 0 8px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 500;
}

.default_form_textarea {
  width: 120px;
  height: 64px;

  border-radius: 8px;
  border: 2px solid #D5D5D5;
  padding: 8px 8px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 500;
}

.default_modal_header {
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.default_button {
  height: 32px;
  background-color: #3092fa;
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  box-sizing: border-box;

  color: white;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  &:hover {
    background-color: lighten(#3092fa, 10%);
  }
}

.slight_button {
  width: 120px;
  height: 32px;
  background-color: transparent;
  border: none;
  padding: 4px 16px;
  box-sizing: border-box;
  color: #3092fa;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  &:hover {
    color: lighten(#3092fa, 10%);
  }
}


h1 {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h4 {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow: hidden;
  word-wrap: break-word;
  word-break: normal;
  text-overflow: ellipsis;
  text-align: left;

}

p, button, time, label {
  color: #707070;
  transition: color .2s ease-in-out, border .2s ease-in-out;
}
h1, h4 {
  color: #555555;
  transition: color .2s ease-in-out, border .2s ease-in-out;
}


@keyframes slide-top {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-enter {
  transform: translateY(0px);
  opacity: 1;
}
.slide-in-leave {
  transform: translateY(30px);
  opacity: 0;
}


.default_slide_animation {
  animation: slide-top 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  &[data-index] {
    content: attr(data-index);
    // animation-delay: calc(0.5s * attr(data-index));
  }
}

.default_fadein_animation {
  animation: fade-in 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}